<html>

<head>
  <title>Darkroom Directive</title>

  <link rel="stylesheet" href="vendor/foundation/css/foundation.css">
  <link rel="stylesheet" href="vendor/darkroomjs/build/css/darkroom.min.css">
  <link rel="stylesheet" href="css/app.css">

  <script src="vendor/fabric/dist/all.min.js"></script>
  <script src="vendor/darkroomjs/build/js/darkroom.min.js"></script>
  <script src="vendor/flow.js/dist/flow.min.js"></script>
  <script src="vendor/angular/angular.min.js"></script>
  <script src="vendor/ng-flow/dist/ng-flow.min.js"></script>
  <script src="../dist/js/angular-darkroom.min.js"></script>
</head>

<body>
  <div ng-app='ncDarkroomTest' ng-controller='AppCtrl as dr_ctrl' flow-init>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1>
            <a href="#">Darkroom Directive Example</a>
          </h1>
        </li>
      </ul>
    </nav>

    <div class="row panel">
      <div class="small-12 columns">
        <h5>Angular Darkroom</h5>
      </div>

      <div class="small-4 columns">
        <div class="row">
          <div class="small-12 columns">
            <p>Upload Files Below To Crop</p>
          </div>
          <div class="small-12 columns">
            <div class="button" flow-btn>Upload</div>
          </div>
          <div class="small-12 columns">
            <p>Or, Add an image via URL</p>
          </div>
          <div class="small-12 columns">
            <input type="text" ng-model="dr_ctrl.image_url" />
          </div>
          <div class="small-12 columns">
            <div class="button" ng-click="dr_ctrl.upload_by_url()">Download</div>
          </div>
          <div class="small-12 columns">
            <img class="preview-image" ng-src="{{ dr_ctrl.preview_image }}">
          </div>
        </div>
      </div>

      <div class="small-8 columns">
        <nc-darkroom image="dr_ctrl.image"
                     on-crop="dr_ctrl.image_changed(image)"
                     history="true"
                     crop="{}"
                     rotate="false"
                     save="false">
        </nc-darkroom>
      </div>
    </div>
  </div>

  <script src="js/app.js"></script>
</body>

</html>
